.search {
    
    padding: 0;
    border: none;
    margin-bottom: 5px;
    
}

.search-container {
   
    max-width: 100%;
    height: auto;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
}

input {
    width: 100%;
    max-width: 250px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}

.search-icon {
    color: white;
    font-size: 35px;
    transition: 0.1s ease;
}

.search-icon:hover {
    color: #c4c4c4;
    cursor: pointer;
    transform: scale(1.1);
}